---
layout: default
---
<div class="ap-career-objective">
    {{site.career-objective}}
</div>

{% if site.collection_option['education']['visibility'] == true %}
<div class="ap-line"></div>
<!-- EDUCATION -->
<div class="ap-block">
    <p class="ap-subtitle">{{ site.collection_option['education']['label'] }}</p>
    {% assign sorted_items = site.education | sort: 'order' %}
    {% for education in sorted_items %}
    <div class="ap-education">
        <p class="ap-education-degree">{{ education.degree }}</p>
        <p class="ap-education-institute">{{ education.institute }}, {{ education.location }}</p>
        <p class="ap-education-year">{{ education.duration }}</p>
        {% if education.gpa %}
            <p class="ap-education-gpa">Overall GPA: {{ education.gpa }}</p>
        {% endif %}
        {% if education.additional_info %}
            <p class="ap-education-additional">{{ education.additional_info }}</p>
        {% endif %}
        {% if education.highlight %}
            <p class="ap-education-highlight">{{ education.highlight }}</p>
        {% endif %}
        {% if education.courses %}
            <p class="ap-education-courses">Related Courses:</p>
            <ul class="hollow-bullet-points">
                {% for course in education.courses %}
                <li>{{ course }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['experience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- WORK EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{ site.collection_option['experience']['label'] }}</p>
    {% assign sorted_items = site.experience | sort: 'order' %}
    {% for experience in sorted_items %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{ experience.title }}</p>
        <p class="ap-experience-year">{{ experience.duration }}</p>
        {% if experience.activities %}
            <ul class="hollow-bullet-points">
                {% for activity in experience.activities %}
                <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if experience.tags %}
        <p class="ap-skill-tags">
            {% for tag in experience.tags %}
            <span class="ap-skill-chip">{{tag}}</span>
            {% endfor %}
        </p>
        {% endif %}
        {% if experience.demo %}
        <p class="ap-demo-tags">{{experience.demo}}</p>
        {% endif %}
        {% if experience.document %}
        <p class="ap-demo-tags">{{experience.document}}</p>
        {% endif %}
        <!-- {% if experience.excerpt %}
            <div class="ap-experience-excerpt">
                {% assign excerpt_lines = experience.excerpt | newline_to_br | split: '<br />' %}
                <ul class="hollow-bullet-points">
                {% for line in excerpt_lines %}
                    {% assign trimmed_line = line | strip %}
                    {% if trimmed_line != '' %}
                        <li>{{ trimmed_line }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %} -->
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['projects']['visibility'] == true %}
<div class="ap-line"></div>
<!-- PROJECTS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['projects']['label']}}</p>
    {% assign sorted_items = site.projects | sort: 'order' %}
    {% for project in sorted_items %}
    <div class="ap-project">
        <p class="ap-project-title">{{project.title}}</p>
        <p class="ap-project-excerpt">{{project.excerpt}}</p>
        <p class="ap-project-tags">
            {% for tag in project.tags %}
            <span class="ap-project-chip">{{tag}}</span>
            {% endfor %}
        </p>
        {% if project.demo %}
        <p class="ap-demo-tags">{{project.demo}}</p>
        {% endif %}
    </div>
    {% endfor %}

</div>
{% endif %}

{% if site.collection_option['achievements']['visibility'] == true %}
<div class="ap-line"></div>
<!-- ACHIEVEMENTS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['achievements']['label']}}</p>
    {% assign sorted_items = site.achievements | sort: 'order' %}
    {% for achievement in sorted_items %}
    <div class="ap-achievement">
        <p class="ap-achievement-title">{{achievement.title}}</p>
        <p class="ap-achievement-year">{{achievement.year}}</p>
        {% if achievement.activities %}
            <!-- <p class="ap-education-courses">Activities:</p> -->
            <ul class="hollow-bullet-points">
                {% for activity in achievement.activities %}
                <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['skills']['visibility'] == true %}
<div class="ap-line"></div>
<!-- SKILLS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['skills']['label']}}</p>
    {% assign sorted_items = site.skills | sort: 'order' %}
    {% for skill in sorted_items %}
    <div class="ap-skill">
        <p class="ap-skill-category">{{skill.category}}</p>
        <p class="ap-skill-tags">
            {% for tag in skill.tags %}
            <span class="ap-skill-chip">{{tag}}</span>
            {% endfor %}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['volunteerexperience']['visibility'] == true %}
<div class="ap-line"></div>
<!-- VOLUNTEER EXPERIENCE -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['volunteerexperience']['label']}}</p>
    {% assign sorted_items = site.volunteerexperience | sort: 'order' %}
    {% for experience in sorted_items %}
    <div class="ap-experience">
        <p class="ap-experience-title">{{experience.title}}</p>
        <p class="ap-experience-year">{{experience.score}}</p>
        <p class="ap-experience-excerpt">{{experience.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['publications']['visibility'] == true %}
<div class="ap-line"></div>
<!-- PUBLICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['publications']['label']}}</p>
    {% for publication in site.publications reversed %}
    <div class="ap-publication">
        <a class="ap-publication-title" href="{{publication.url}}">{{publication.title}}</a>
        <p class="ap-publication-year">{{publication.year}}</p>
        <p class="ap-publication-excerpt">{{publication.excerpt}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.collection_option['certifications']['visibility'] == true %}
<div class="ap-line"></div>
<!-- CERTIFICATIONS -->
<div class="ap-block">
    <p class="ap-subtitle">{{site.collection_option['certifications']['label']}}</p>
    {% assign sorted_items = site.certifications | sort: 'order' %}
    {% for certificate in sorted_items %}
    <div class="ap-certification">
        <p class="ap-certification-title">{{certificate.title}}</p>
        <p class="ap-certification-institute">{{certificate.institute}}</p>
        <p class="ap-certification-year">{{certificate.year}}</p>
        <p class="ap-certification-excerpt">{{certificate.excerpt}}</p>
        {% if certificate.image %}
            <img src="{{ certificate.image }}" alt="{{ certificate.title }} Certificate">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

